
<div layout="column" class="inputdemoBasicUsage">
  <h2 class="md-display-1">Dropfile IP and Port Connection Configuration</h2>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Mail Web App Secure Link Format IP</label>
      <input ng-model="formData.mailWebAppSecureLinkFormatIP">
    </md-input-container>

    <md-input-container flex>
      <label>Mail Web App Secure Link Format Port</label>
      <input ng-model="formData.mailWebAppSecureLinkFormatPort">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Mail Web App Secure Link Sender IP</label>
      <input ng-model="formData.mailWebAppSecureLinkFormatSenderIP">
    </md-input-container>

    <md-input-container flex>
      <label>Mail Web App Secure Link Sender Port</label>
      <input ng-model="formData.mailWebAppSecureLinkFormatSenderPort">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Mail Web App Public Link Format Sender IP</label>
      <input ng-model="formData.mailWebAppPublicLinkFormatSenderIP">
    </md-input-container>

    <md-input-container flex>
      <label>Mail Web App Public Link Format Sender Port</label>
      <input ng-model="formData.mailWebAppPublicLinkFormatSenderPort">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Mail Invitation Reply Format IP</label>
      <input ng-model="formData.mailInvitationReplyFormatIP">
    </md-input-container>

    <md-input-container flex>
      <label>Mail Invitation Reply Format Port</label>
      <input ng-model="formData.mailInvitationReplyFormatPort">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Mail User Request Approve Format IP</label>
      <input ng-model="formData.mailUserRequestApproveFormatIP">
    </md-input-container>

    <md-input-container flex>
      <label>Mail User Request Approve Format Port</label>
      <input ng-model="formData.mailUserRequestApproveFormatPort">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Mail Unauthenticated Request Format IP</label>
      <input ng-model="formData.mailUnauthenticatedRequesetFormatIP">
    </md-input-container>

    <md-input-container flex>
      <label>Mail Unauthenticated Request Format Port</label>
      <input ng-model="formData.mailUnauthenticatedRequesetFormatPort">
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Filebox URI IP</label>
      <input ng-model="formData.fileBoxURIIP">
    </md-input-container>

    <md-input-container flex>
      <label>Filebox URI Port</label>
      <input ng-model="formData.fileBoxURIPort">
    </md-input-container>
  </div>

  <div class="df2-page" layout="row" layout-align="end center">
    <md-button ui-sref="wizard.dropfile1">
       <ng-md-icon icon="keyboard_arrow_left" size="25"></ng-md-icon> Previous Section
    </md-button>
    <md-button ui-sref="wizard.dropfile3">
      Next Section <ng-md-icon icon="keyboard_arrow_right" size="25"></ng-md-icon>
    </md-button>
  </div>

</div>
